name: 3D-BPP CI Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        tool-cache: false
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install "pip==23.0.1"
        pip install "setuptools==65.5.0" "wheel<0.40.0"
        pip install flake8 pytest
        pip install --no-build-isolation -r requirements.txt

    - name: Lint with flake8
      run: |
        flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
    
    - name: Setup DVC
      env:
        DVC_USER: ${{ secrets.DAGSHUB_USERNAME }}
        DVC_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        dvc remote modify origin --project auth basic
        dvc remote modify origin --project user $DVC_USER
        dvc remote modify origin --project password $DVC_TOKEN
        
        dvc pull

    - name: Run Unit Tests with Pytest
      env:
        PYTHONPATH: src
      run: |
        python -m pytest tests/